- name: Downloading NEDs from the earth repo
  shell: wget -k --secure-protocol=TLSv1 -v --no-check-certificate --user {{ NEDsRepoUser }} --password {{ NEDsRepoPass }} https://earth.tail-f.com:8443/ncs-pkgs/{{ item.name }}/{{ item.targetNsoVersion }}/ncs-{{ item.targetNsoVersion }}-{{ item.name }}-{{ item.version }}.signed.bin >> /tmp/aNSOble.log
  args:
    chdir: /tmp/
    warn: false
  become: true
  loop: "{{ NEDs }}"

- name: Executing unpacking of signed NEDs 
  shell: |
    chmod 0755 ./ncs-{{ item.targetNsoVersion }}-{{ item.name }}-{{ item.version }}.signed.bin >> /tmp/aNSOble.log
    ./ncs-{{ item.targetNsoVersion }}-{{ item.name }}-{{ item.version }}.signed.bin >> /tmp/aNSOble.log
  args:
    chdir: /tmp/
    warn: false
  become: true
  loop: "{{ NEDs }}"

- name: Unpacking  NEDs into /var/opt/ncs/packages 
  shell: tar zxvf ncs-{{ item.targetNsoVersion }}-{{ item.name }}-{{ item.version }}.tar.gz -C /var/opt/ncs/packages >> /tmp/aNSOble.log
  args:
    chdir: /tmp/
    warn: false
  become: true
  loop: "{{ NEDs }}"

- name: Reloading NSO packages
  shell: |
    source /opt/ncs/current/ncsrc
    echo 'packages reload' | ncs_cli -C
  environment:
    PATH: /opt/ncs/current/bin:{{ ansible_env.PATH }}    
