                <!-- Sidebar -->
            <nav class="sidebar col-2 hidden-md-down dbl-margin-top" role="navigation">
                <div class="sidebar__header dbl-margin-top">
                    <div class="sidebar__header-title ">Default</div>
                    <!-- <a class="navbar-brand" routerLink="/"></a> -->
                </div>
                <ul id="rootSidebar">
                    <li class="sidebar__item">
                        <a tabindex="0" routerLink="/">
                            <span class="icon-home"></span>
                            <span>Home</span>
                        </a>
                    </li>
                    <li id="vleft-upgradeDashboard" (click)="changeTab('upgradeDashboard');" class="sidebar__item" [ngClass]="{'active': activeTabs === 'upgradeDashboard'}">
                        <a tabindex="0" title="Upgrade Dashboard" routerLink="upgradeDashboard">
                            <span class="icon-tools"></span>
                            <span>Upgrade Dashboard</span>
                        </a>
                        
                    </li>
                    <li id="vleft-installNso" (click)="changeTab('installNso');" class="sidebar__item" [ngClass]="{'active': activeTabs === 'installNso'}">
                        <a tabindex="0" title="Install new NSO" routerLink="installnewNSO">
                            <span class="icon-configurations"></span>
                            <span>Install new NSO</span>
                        </a>
                       
                    </li>
                    <li id="vleft-inventoryHost" (click)="changeTab('inventoryHost');" class="sidebar__item" [ngClass]="{'active': activeTabs === 'inventoryHost'}">
                        <a tabindex="0" title="Inventory Hosts" routerLink="inventoryHosts">
                            <span class="icon-configurations"></span>
                            <span>Inventory Hosts</span>
                        </a>
                    </li>
                    <li id="vleft-configuration" (click)="changeTab('configuration');" class="sidebar__item" [ngClass]="{'active': activeTabs === 'configuration'}">
                        <a tabindex="0" title="Configuration" routerLink="configurations">
                            <span class="icon-configurations"></span>
                            <span>Configuration</span>
                        </a>
                    </li>
                    <li id="vleft-migrationReports" (click)="changeTab('migrationReports');" class="sidebar__item" [ngClass]="{'active': activeTabs === 'migrationReports'}">
                        <a tabindex="0" title="Migration Reports" routerLink="migrationReports">
                            <span class="icon-graph"></span>
                            <span>Migration Reports</span>
                        </a>
                        
                    </li>
                </ul>
            </nav>
           