<config xmlns="http://tail-f.com/ns/config/1.0">             
              <ha xmlns="http://tail-f.com/pkg/tailf-hcc">
               <token> {{ HAToken }} </token>
               <interval> {{ HAInterval }}</interval>
               <failure-limit> {{ HAFailureLimit }} </failure-limit>
               <vips>
                 <vip>
                   <address> {{ VIP }} </address>
                   <netmask> {{ VIPNetMask }} </netmask>
                 </vip>
               </vips>
               <member>
                 <name>primary</name>
                 <address> {{ PrimaryIP }}</address>
                 <default-ha-role>master</default-ha-role>
                 <vip-interfaces>
                   <vip-interface>
                     <vip-interface> {{ VIPInterfacePrimary }} </vip-interface>
                     <address> {{ VIP }} </address>
                   </vip-interface>
                 </vip-interfaces>
               </member>
               <member>
                 <name>secondary</name>
                 <address> {{ SecondaryIP }} </address>
                 <default-ha-role>slave</default-ha-role>
                 <failover-master>true</failover-master>
                 <vip-interfaces>
                   <vip-interface>
                     <vip-interface> {{ VIPInterfaceSecondary }} </vip-interface>
                     <address> {{ VIP }} </address>
                   </vip-interface>
                 </vip-interfaces>
               </member>
             </ha>
</config>
